@import url("./qrs-active.css");
@import url("./qrs-code.css");
@import url("./qrs-button.css");
@import url("./qrs-extreneous.css");
@import url("./qrs-media-item.css");
@import url("./qrs-rooms.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
  transition-timing-function: ease-in-out;
}

:root {
  --is-safari: 0;
  --is-ios: 0;
  --no-safari: 0;
  --no-ios: 0;
  --has-blur: 0;
}

body, main {
  background-position: 0 0;
  background-repeat: repeat;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url(../../assets/diagonal_striped_brick.png);
}

main {
  display: block;
  min-height: 100vh;
}
