@import url("./qrs-button.css");
@import url("./qrs-rooms.css");
@import url("./qrs-active.css");
@import url("./qrs-code.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
  transition-timing-function: ease-in-out;
}

body, main {
  background-position: 0 0;
  background-attachment: fixed;
  background-repeat: repeat;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url(../../assets/circles-and-roundabouts.png);
}
