@import url("./qrs-active.css");
@import url("./qrs-code.css");
@import url("./qrs-button.css");
@import url("./qrs-options.css");
@import url("./qrs-extreneous.css");
@import url("./qrs-media-item.css");
@import url("./qrs-rooms.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
  transition-timing-function: ease-in-out;
}

:root {
  /* Environment flags overridden in app.mjs */
  --is-safari: 0;
  --is-ios: 0;
  --no-safari: 0;
  --no-ios: 0;
  --has-blur: 0;

  /* Core style variables */
  --root-box-shadow: 0 0 12px rgba(0,0,0,0.2);
  --root-rounding: 4px;
}

body, main {
  background-position: 0 0;
  background-repeat: repeat;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url(../../assets/pow-star.png);
}

main {
  display: block;
  min-height: 100vh;
}
