qrs-rooms {
  display: flex;
  touch-action: pan-x;
  flex-direction: column;
  flex: 1;
  padding: 8px;
}

qrs-rooms .intro {
  flex: 1;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

qrs-rooms .intro > h1 {
  font-family: "Josefin Sans", sans-serif;
  padding: 64px;
}

qrs-rooms .intro > p {
  max-width: 300px;
}

qrs-rooms ul ~ .intro {
  display: none;
}

qrs-rooms ul:empty ~ .intro {
  display: flex;
}

qrs-rooms .item {
  font-family: "Josefin Sans", sans-serif;
}

qrs-rooms .item qrs-code {
  --translateY: 0;
  --translateX: 0;

  transition: transform 0.5s, width 0.6s, height 0.6s;
  transform: translateY(var(--translateY)) translateX(var(--translateX));
}

qrs-rooms .item {
  display: flex;
}

qrs-rooms .item header {
  --translateX: 0;

  flex: 1;
  flex-direction: column;
  padding: 8px;
  padding-bottom: 4px;
  transition: transform 0.3s;
  transform: translateX(var(--translateX));
}

qrs-rooms .item h1,
qrs-rooms .item h2 {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
}

qrs-rooms .item h1 {
  font-size: 20px;
}

qrs-rooms .item h2 {
  font-weight: 100;
  font-size: 16px;
  text-align: end;
}

qrs-rooms .button-box {
  --opacity: 1;
  --opacity-transition-time: 0.8s;
  --translateY: 0vh;

  display: flex;
  flex-direction: row;
  border-radius: 4px 0 0 0;
  z-index: 1;
  height: 50px;
  justify-content: space-between;
  transition: opacity var(--opacity-transition-time), transform 0.5s;
  transform: translateY(var(--translateY));
  opacity: var(--opacity);
}
