qrs-active {
  --showing: 1;
  --showingTime: 0.33s;
  --headerOpacity: calc(var(--showing));
  --itemOffset: calc(100 * (1 - var(--showing)));

  --bg: var(--qrs-active-bg);
  display: flex;
  touch-action: pan-y;
  flex-direction: column;
  flex: 1;
  background: var(--bg);
  padding-top: 10px;
  overflow-x: hidden;
  min-height: 100vh;
}

qrs-active > h1 {
  text-align: end;
  padding: 12px;
  padding-right: 20px;
  text-decoration: underline;
}

qrs-active ul {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

qrs-active ul qrs-media-item {
  width: 70%;
  transition: transform var(--showingTime);
}

qrs-active ul qrs-media-item:nth-child(2n) {
  align-self: flex-start;
  width: calc(70% + 92px);
  transform: translateX(calc(-1vw * var(--itemOffset)));
}

qrs-active ul qrs-media-item:not(:nth-child(2n)) {
  position: relative;
  right: -8px;
  transform: translateX(calc(1vw * var(--itemOffset)));
}

qrs-active ul qrs-media-item:not(:nth-child(2n)) p {
  padding-right: 40px;
}

qrs-active ul qrs-media-item:nth-child(2n) section {
  padding-left: 112px;
}

qrs-active ul qrs-media-item:not(:nth-child(2n)) h2 {
  text-align: end;
  padding-right: 30px;
}
