qrs-rooms {
  --bg: var(--qrs-rooms-bg, rgba(255,255,255,0.85));
  --blur: var(--qrs-rooms-blur, 4px);

  --xOffset: 0px;
  --xOffsetDuration: 0s;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;

  display: flex;
  touch-action: pan-y;
  flex-direction: column;
  flex: 1;
  padding: 8px;
  transition: transform var(--xOffsetDuration);
  transform: translateX(var(--xOffset));

  min-height: 100vh;
  background: var(--bg);
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

qrs-rooms > ul:not(:empty) {
  padding-top: 12px;
}

qrs-rooms > ul:not(:empty) ~ .intro {
  opacity: 0;
}

:root:not(.is-ios) qrs-rooms > ul:not(:empty) ~ .intro {
  display: none;
}

qrs-rooms .intro {
  flex: 1;
  flex-direction: column;
  text-align: center;
  align-items: center;

  position: relative;

  /* FIXME:
    This is a hack to fix an odd layout bug on iOS. When the viewport doesn't
    isn't tall enough to be scrolling, the "explode" animation for expanding
    QR Codes jumps around. I have no idea why this is, we're working around it
    for now.
  */
  top: calc(var(--is-ios) * 20px);
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

qrs-rooms .intro > h1 {
  font-family: "Josefin Sans", sans-serif;
  padding: 64px;
}

qrs-rooms .intro > p {
  max-width: 300px;
}

qrs-rooms ul:empty ~ .intro {
  display: flex;
}

qrs-rooms .item {
  font-family: "Josefin Sans", sans-serif;
}

qrs-rooms .item qrs-code {
  --translateY: 0;
  --translateX: 0;

  transition: transform 0.33s, width 0.33s, height 0.33s;
  transform: translateY(var(--translateY)) translateX(var(--translateX));
}

qrs-rooms .item {
  display: flex;
}

qrs-rooms .item header {
  --translateX: 0;

  flex: 1;
  flex-direction: column;
  padding: 8px;
  padding-bottom: 4px;
  transition: transform 0.3s;
  transform: translateX(var(--translateX));
}

qrs-rooms .item h1,
qrs-rooms .item h2 {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
}

qrs-rooms .item h1 {
  font-size: 20px;
}

qrs-rooms .item h2 {
  font-weight: 100;
  font-size: 16px;
  text-align: end;
}

qrs-rooms .button-box {
  --opacity: 1;
  --opacity-transition-time: 0.8s;
  --translateY: 0vh;

  display: flex;
  flex-direction: row;
  border-radius: 4px 0 0 0;
  z-index: 1;
  height: 50px;
  justify-content: space-between;
  transition: opacity var(--opacity-transition-time), transform 0.5s;
  transform: translateY(var(--translateY));
  opacity: var(--opacity);
}
