qrs-media-item {
  --bg: var(--qrs-media-item-bg-color, rgba(255,255,255,0.8));
  --box-shadow: var(--qrs-media-item-box-shadow, var(--root-box-shadow));
  --rounding: var(--qrs-media-item-rounding, var(--root-rounding));
  display: flex;
  flex-direction: column;
  min-height: 50px;
  background: var(--bg);
  margin-bottom: 12px;
  max-height: 215px;
  padding-top: 12px;
  border-radius: var(--rounding);
  box-shadow: var(--box-shadow);
}

qrs-media-item[type="TEXT"] {
  max-height: 400px;
}


qrs-media-item section {
  overflow: hidden;
  position: relative;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(4px);
}

qrs-media-item section:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: var(--rounding);
  background: linear-gradient(to bottom,
    rgba(237,237,237,0) 70%,
    rgba(251,251,251,0.7) 85%,
    rgba(255,255,255,1) 100%);
}


qrs-media-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}
