qrs-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  transition: background 0.25s;
  background: white;
}

qrs-button[state="UP"],
qrs-button[state="PRESSED"] {
  background: white;
}

qrs-button[state="CANCELLED"],
qrs-button[state="DOWN"] {
  background: red;
}

qrs-button > a {
  pointer-events: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
