qrs-media-item {
  display: flex;
  flex-direction: column;

  height: 50px;
  width: 80%;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  background: rgba(255,255,255,0.8);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  margin-bottom: 12px;
  min-height: 215px;
}

qrs-media-item[type="TEXT"] {
  max-height: 400px;
}

qrs-media-item p {
  overflow: hidden;
  text-overflow: ellipsis;
}
