qrs-active {
  --bg: var(--qrs-active-bg-color, rgba(255,255,255,0.1));

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  touch-action: pan-x;
  flex-direction: column;
  flex: 1;
  background: var(--bg);
}
