qrs-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: background 0.25s;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 4px;
  margin: 4px;
}

qrs-button a {
  color: black;
}

qrs-button[state="UP"],
qrs-button[state="PRESSED"] {
  background: white;
}

qrs-button[state="CANCELLED"],
qrs-button[state="DOWN"] {
  background: red;
}

qrs-button > a {
  pointer-events: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
